


.box{
    box-model: border-box;
    border: 10px solid transparent;
    background-clip:padding-box;
    background-color:#dcdcdc;
  }

 body{
     background-color: #c0c0c0;
 }

 h1{
     color: #2f4f4f;
 }

h2{
    color: #2f4f4f;
}

 h4{
    color: #2f4f4f;
    text-align: center;
    font-size: 15px;
    
}

.top-buffer { margin-top:20px; }



/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
    padding: 0.8rem 1rem;
} 

/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    padding: 1rem 1rem;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #37474f; /* add background-color to active links */
}.navbar-custom {
    background-color: #455a64;
}

/* for dropdown only - change the color of dropdown */
.navbar-custom .dropdown-menu {
    background-color: #37474f;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}

.col-md-auto{
    padding: 0px;
  }

/* Adding media queries to reduce h4 text size in small screens */
@media (max-width: 770px) {
  
    h4{

        font-size: 8px;
        
    }

